Xft.dpi: 80

! ---
! Rofi
! ---

!                  'background', 'border', 'separator'
rofi.color-window:      argb:70000002, #000000, #000000

rofi.eh:                1
rofi.lines:             5
rofi.fullscreen:        true
rofi.padding:           400
rofi.width:             100
! no border
rofi.bw:                0

rofi.run-command:       /bin/bash -i -c '{cmd}'

rofi.font:              Noto Sans Display 18
rofi.separator-style:   none
rofi.hide-scrollbar:    true

!                       bg             fg       bgalt          hlfg           hlbg
rofi.color-normal:      argb:00000000, #f3f4f5, argb:00000000, argb:00000000, #00a8e8
rofi.color-urgent:      argb:00000000, #f3f4f5, argb:00000000, argb:00000000, #00a8e8
rofi.color-active:      argb:00000000, #f3f4f5, argb:00000000, argb:00000000, #00a8e8
